//	PADDING PIXELS
$padding-empty: 0px;
$padding-px-5: 5px;
$padding-px-10: 10px;

//	MARGIN PIXELS
$margin-empty: 0px;
$margin-px-5: 5px;
$margin-td-px-7: 7px 7px 0px 0px;

//	MOUSE POINTER PROPERTIES
$hand: pointer;

//	OTHER PROPERTIES
$font-28: 28px;
$font-25: 25px;
$font-17: 17px;
$font-15: 15px;
$in-left: left;
$in-right: right;
$in-midle: center;
$just: justify;
$hidden: hidden;
$without: none;
$bold: bold;
$one: 0.1s;
$two: 0.2s;
$three: 0.3s;
$t-width: 100%;
$thirth-width: 30%;
$little-width: 15%;

//	BORDER PROPERTIES
$border-black: 1px solid #000;
$border-white: 1px solid #fff;
$rounded-edges: 5px;